@import "reset.css";

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blanchedalmond;
  gap: 20px;
  padding: 20px;
  font-family: "Roboto Mono", monospace;
  user-select: none;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym598.cur), auto !important;
}

.pointer_event_none {
  pointer-events: none;
}

button,
label#image {
  all: unset;
  padding: 10px 0 10px 0;
  border: 0;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  width: 137px;
  height: 20px;
  border-radius: 10px;
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1111.cur), auto !important;
  transition: opacity linear 0.1s;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

span {
  color: #b08bbb;
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  text-shadow: 3px 3px 4px #b08bbb;
}

label {
  font-weight: 900;
  color: #9575cd;
}

select {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym598.cur), auto !important;
}

#image:hover {
  opacity: 0.8;
}

.color_options {
  border: 3px solid white;
  width: 60px;
  height: 60px;
  margin: 10px 15px 15px 0;
  border-radius: 50%;
  transition: transform ease-in-out 0.1s;
}

.color_options:hover {
  transform: scale(1.2);
}

.btns,
#colors,
#insert {
  border: 1px solid;
  border-radius: 10px;
  border-color: #f48fb1;
  background-color: #fce4ec;
}

.text_size {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text_input {
  display: flex;
  justify-content: center;
}

.text_mode {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.preview_box {
  margin: 0 auto;
  margin-bottom: 10px;
}

.square_shape {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⬛️</text></svg>")
      16 0,
    auto;
}

.circle_shape {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚫️</text></svg>")
      16 0,
    auto;
}

.eraser_shape {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⬜</text></svg>")
      16 0,
    auto;
}

.fill_shape {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖌️</text></svg>")
      16 0,
    auto;
}

.invisible {
  display: none;
}

div.container1 {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

div.btns {
  display: float;
  float: left;
  width: 500px;
  height: 200px;
  padding: 20px;
}

div.btns button {
  display: inline;
  margin: 10px;
}

div#range {
  display: block;
  text-align: center;
  margin: 30px 0 15px 0;
}

input[type="range"] {
  display: inline-block;
  margin-right: 60px;
  width: 300px;
  accent-color: lightblue;
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1111.cur), auto !important;
}

input[type="range"]:focus {
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1111.cur), auto !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  margin-bottom: 7px;
  border-radius: 40px;
}

div#range label {
  display: inline;
}

div#colors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

#canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.pen {
  cursor: url(https://ani.cursors-4u.net/others/oth-9/oth838.cur), auto !important;
}

#colors #color,
#colors .color_options {
  display: inline-block;
}

.color_options {
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1111.cur), auto !important;
}

#color {
  display: inline-block;
  cursor: url(https://cur.cursors-4u.net/games/gam-12/gam1111.cur), auto !important;
}

#choose_color {
  display: inline;
  width: 50;
}

#color_op {
  display: inline-block;
}

#container2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 542px;
}

#text {
  border: 2px solid #90caf9;
  border-radius: 5px;
  width: 100px;
  transition: transform 0.5s linear, width 0.5s linear;
}

#text:focus {
  transform: scale(1.2);
  width: 300px;
  outline: none;
  border: 2px solid #1976d2;
}

#destroy {
  background-color: #ef5350;
}

#edit_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  border: 1px solid #f48fb1;
  border-radius: 10px;
  padding: 20px;
  background-color: #fce4ec;
}

#preview {
  width: 300px;
  height: 300px;
}

#file {
  display: none;
}

#change_img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#canvas_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pointer_event_auto {
  pointer-events: auto;
}

#alert {
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px 50px 50px;
  background-color: #ecf9ff;
  -moz-box-shadow: 3px 3px 3px 3px #999;
  -webkit-box-shadow: 3px 3px 3px 3px #999;
  box-shadow: 3px 3px 3px 3px #999;
}

#alert h4 {
  margin-bottom: 30px;
  text-align: center;
}

#alert div {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
}

#alert button {
  margin-left: 20px;
  margin-right: 20px;
}

input#color {
  border: 1px solid white;
  background-color: white;
}

label#line_text {
  text-align: center;
}

div#insert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
